name: flutter_avif_windows
description: Windows implementation for flutter_avif.
version: 1.4.0
repository: https://github.com/yekeskin/flutter_avif/tree/main/flutter_avif_windows

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_avif_platform_interface: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.3
  
flutter:
  plugin:
    implements: flutter_avif
    platforms:
      windows:
        pluginClass: FlutterAvifWindowsPlugin
        dartPluginClass: FlutterAvifWindows
