name: flutter_avif_ios
description: Ios implementation for flutter_avif.
version: 2.2.0
repository: https://github.com/yekeskin/flutter_avif/tree/main/flutter_avif_ios

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_avif_platform_interface: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.3
  
flutter:
  plugin:
    implements: flutter_avif
    platforms:
      ios:
        pluginClass: FlutterAvifPlugin
        dartPluginClass: FlutterAvifIos
